$design-width: 750px;


// color
$black: #333;
$white: #fff;

$smoke: #e4e4e4;
$smoke-dark: #bdbdbd;
$smoke-light: #f7f7f7;

$red: #f05f50;
$red-dark: #e02613;
$red-light: #ff966B;

// size
$field-s-height: 20px;
$field-m-height: 30px;
$field-l-height: 40px;

// fonts
$font-family: system, -apple-system, ".SFNSDisplay-Regular", "PingfangSC", "Source Han Sans", Roboto, Helvetica, Arial, sans-serif;
$content-size: 14px;